<%= form_for(@tarea) do |f| %>
  <% if @tarea.errors.any? %>
    <div id="error_explanation">
      <h2>La tarea no se pudo guardar</h2>

      <ul>
      <% @tarea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br />
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :detalles %><br />
    <%= f.text_area :detalles, :rows => 5 %>
  </div>
  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.date_select :fecha %>
  </div>
  <div class="actions">
    <%= f.submit 'Guardar' %>
  </div>
<% end %>
