<h1>Listado de tareas</h1>

<table>
  <tr>
    <th>Nombre</th>
    <th>Detalles</th>
    <th>Fecha</th>
  </tr>

<% @tareas.each do |tarea| %>
  <tr>
    <td><%= link_to tarea.nombre, tarea %></td>
    <td><%= truncate tarea.detalles, :length => 25 %></td>
    <td><%= tarea.fecha %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nueva tarea', new_tarea_path %>
<%= will_paginate @tareas,
  :previous_label => '&laquo; Anterior',
  :next_label => 'Siguiente &raquo;' %>
