<!doctype html>
<html>
<head>
  <title>Tareas</title>
  <%= stylesheet_link_tag 'application' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tag %>
</head>
<body>
  <%= render 'comun/menu' if responsable_actual %>
  <div id="contenido">
    <%= yield %>
  </div>
</body>
</html>
